<div class="card col-md-10 offset-md-1 my-3">
    <div class="card-body py-0 px-0">
        <div class="card-header d-flex justify-content-between">
            <h5 class="card-title">{{post.title}}</h5>
            <h6 class="card-subtitle">Posted by
                {{post.user.user_name}}
                on
                {{post.date}}</h6>
        </div>
        <div class="mx-3 my-3">
            <p>{{post.description}}</p>
        </div>

    </div>
</div>

{{#if logged_in}}
    <div class="card col-md-10 offset-md-1  my-3">
        <form class="addblog-form mx-3 my-3 row g-2 justify-content-center">
            <label for="comment">Comment:</label>
            <textarea name="comment" id="blog-comment" cols="30" rows="5"></textarea>
            <button class="btn btn-primary col-3" type="submit">Submit</button>
        </form>
    </div>

{{/if}}

{{#each post.comments as |comments|}}
    <div class="card col-md-10 offset-md-1 my-3">
            <div class="mx-5 my-3 d-flex justify-content-between">
                <div class="card-body py-0 px-0">
                    <p class="card-text py-2 px-3">
                        {{comments.description}}</p>
                    <p>- {{user.user_name}}, {{comments.date}}</p>
                </div>
            </div>
    </div>
{{/each}}

{{#if logged_in}}
    <script src="../../js/comment.js"></script>
{{/if}}